<header data-bs-theme="dark">

    <div class="navbar-dark bg-dark shadow-sm pb-3">
        <div class="pt-3">
            <div class="d-flex align-items-center justify-content-between">
                <a href="#" class="">
                    <img [src]="logo" alt="" width="40" height="40">
                </a>
                <div class="text-center">
                    <p class="text-white h5">{{headerTitle}}</p>
                </div>
                <div>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</header>